
<!-- <app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home>
<app-card-home></app-card-home> -->

<app-card-home *ngFor="let article of data"
  articleHeading="{{ article.articleHeading}}"
  category="{{ article.category }}"
  date="{{ article.date }}"
  time="{{ article.time }}"
  author="{{ article.author }}"
  articleContent="{{ article.articleContent }}">
</app-card-home>
