
<app-card-home *ngFor="let article of data"
  articleHeading="{{ article.articleHeading}}"
  category="{{ article.category }}"
  date="{{ article.date }}"
  time="{{ article.time }}"
  author="{{ article.author }}"
  articleContent="{{ article.articleContent }}"

  [ngClass]="{'card-xsmall': xsmall, 'card-small': small, 'card-medium': medium, 'card-large': large, 'card-xlarge': xlarge}">
</app-card-home>

<app-card-home [ngClass]="{'card-xsmall': xsmall, 'card-small': small, 'card-medium': medium, 'card-large': large, 'card-xlarge': xlarge}"></app-card-home>
<app-card-home [ngClass]="{'card-xsmall': xsmall, 'card-small': small, 'card-medium': medium, 'card-large': large, 'card-xlarge': xlarge}"></app-card-home>
<app-card-home [ngClass]="{'card-xsmall': xsmall, 'card-small': small, 'card-medium': medium, 'card-large': large, 'card-xlarge': xlarge}"></app-card-home>
<app-card-home [ngClass]="{'card-xsmall': xsmall, 'card-small': small, 'card-medium': medium, 'card-large': large, 'card-xlarge': xlarge}"></app-card-home>
<app-card-home [ngClass]="{'card-xsmall': xsmall, 'card-small': small, 'card-medium': medium, 'card-large': large, 'card-xlarge': xlarge}"></app-card-home>
