* {
  margin: 0px;
  padding: 0px;
}

// p {
//   border: 0;

//   height: 200vh;
//   padding: 1rem;

//   position: relative;
//   top: 3.2rem;
//   // margin: 64px 10px;
// }

.card-xsmall {
  width: 100%;
}

.card-small {
  width: calc(50% - .5rem);
}

.card-medium {
  width: calc(33% - .5rem);
}

.card-large {
  width: calc(25% - .75rem);
}

.card-xlarge {
  width: calc(20% - .8rem);
}
