* {
  font-family: 'American Typewriter';
  border: 1px solid hotpink;
  margin: 0px;
  padding: 0px;
}

html, body, app-root, app-top-nav, app-main, app-card-home, nav, ul, li, p {
  border: 0;
}

.main-flex {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

app-main {
  max-width: 1920px;
  padding: 1rem;

  position: relative;
  top: 3.4rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

app-card-home {
  border: 1px solid rgba(255, 0, 127, 100%);

  width: 100%;
  aspect-ratio: 2 / 3;
  padding: 1rem;
  box-sizing: border-box;

  position: relative;
  display: inline-block;
  overflow: hidden;
}
